<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
</head>

<body ng-app="meetup">

    <div ng-controller="FirstController">
        <button ng-click="setName('nelson')">nelson</button>
        
        {{ getName() }}
    </div>
    
    <div ng-controller="SecondController">
        <button ng-click="setName('junior')">junior</button>
        
        {{ getName() }}
    </div>
    
    <pre>
        factory: fn()
        service: new fn()
        provider: (new fn()).$get()
    </pre>
    
    <script src="bower_components/angularjs/angular.js"></script>
    
    <script src="js/app.js"></script>
    <script src="js/firstController.js"></script>
    <script src="js/secondController.js"></script>
    <script src="js/myService.js"></script>
    <script src="js/myFactory.js"></script>
    <script src="js/myProvider.js"></script>
    
</body>
</html>